## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Butaritari,KI,81.30,broken clouds,3.07,172.79,Isles Sunset Lodge
1,4,Safaga,EG,71.60,clear sky,26.73,33.94,Lamar Resort Abu Soma
2,6,Hithadhoo,MV,82.24,broken clouds,-0.60,73.08,Scoop Guest House
3,8,Pringsewu,ID,73.99,overcast clouds,-5.36,104.97,Urban Style by Front One
4,10,Itoman,JP,71.60,broken clouds,26.12,127.67,Southern Beach Hotel & Resort Okinawa

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
# 4b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [104]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df.City=="Banda Aceh"]
vacation_end = vacation_df.loc[vacation_df.City=="Banda Aceh"]
vacation_stop1 = vacation_df.loc[vacation_df.City=="Padang"]
vacation_stop2 = vacation_df.loc[vacation_df.City=="Bengkulu"] 
vacation_stop3 = vacation_df.loc[vacation_df.City=="Pringsewu"]

In [105]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
54,183,Banda Aceh,ID,79.54,overcast clouds,5.56,95.32,OYO 884 Rumoh PMI Hotel

In [106]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start_list = vacation_start.to_numpy().tolist()
end_list = vacation_end.to_numpy().tolist()
vacation_stop1_list = vacation_stop1.to_numpy().tolist()
vacation_stop2_list = vacation_stop2.to_numpy().tolist()
vacation_stop3_list = vacation_stop3.to_numpy().tolist()

start = (start_list[0][5],start_list[0][6])
end = (end_list[0][5],end_list[0][6])
stop1 = (vacation_stop1_list[0][5],vacation_stop1_list[0][6])
stop2 = (vacation_stop2_list[0][5],vacation_stop2_list[0][6])
stop3 = (vacation_stop3_list[0][5],vacation_stop3_list[0][6])

In [110]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_direction = gmaps.directions_layer(start,end,waypoints=[stop1,stop2,stop3],travel_mode='DRIVING')
fig.add_layer(vacation_direction)
fig

Figure(layout=FigureLayout(height='420px'))

In [111]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,183,Banda Aceh,ID,79.54,overcast clouds,5.56,95.32,OYO 884 Rumoh PMI Hotel
1,183,Banda Aceh,ID,79.54,overcast clouds,5.56,95.32,OYO 884 Rumoh PMI Hotel
2,49,Padang,ID,76.12,light rain,-0.95,100.35,Mercure Padang
3,270,Bengkulu,ID,73.09,heavy intensity rain,-3.80,102.27,Grage Hotel Bengkulu
4,8,Pringsewu,ID,73.99,overcast clouds,-5.36,104.97,Urban Style by Front One

In [113]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [114]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
# 11b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))